body {
    position: relative;
    background-color: hsl(36, 65%, 91%);
    z-index: -1;

}

.bkgDots {
    /* content: ''; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./imgs/gridPaper.png);
    object-fit: cover;
    background-position: center;
    background-repeat: repeat;
    z-index: -1;
    opacity: 55%;
}