@import url("https://use.typekit.net/oem5whj.css");


.calendar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #e4e2c8;
    background-color: rgba(174, 167, 158, 0.847);
    width: 100vh;
    border-radius: 1em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*Header Month*/
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    font-family: "above-the-sky-script", sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 1.5em;
}

.monthYear{
    text-align: center;
    font-size: 1em;
}

.weekdays{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    margin-bottom: 10px;
}

.weekday {
    text-align: center;
    padding: 5px;
    /* background-color: rgb(108, 67, 67); */
    /* background-color: rgb(98, 90, 117); */
    background-color:#847887;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1em;
    width: 100%;
    max-width: 500px;
}

.day {
    text-align: center;
    padding: 1em;
    border: 0.3em dotted #af9d9d;
    border-radius: 4px;
    min-height: 40px;
    background-color: #9d8e8e;
}

.empty {
    background-color: #e4e2c8; 
}

.current-day {
    background-color: #9dada1;
    color: white;
}

button{
    /* background-color: #847887; */
    background-color: #659097;


}