.imgDaily {
    width: 15%;
    z-index: 1;
    top: 2em;
    border-radius: 20em;
    border: groove 0.5em rgb(135, 108, 118);
    transition: transform .2s;
}

.imgDaily:hover {
  transform: scale(2.5);

}

.midDashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    color: #62a17d;
}



.dashboardBtn{
    margin: 2em;
    padding: 1em;
    background-color: rgb(158, 122, 135);
    width: 12em;
    height: 6em;
    overflow: hidden;
    bottom: 10em;
}

.dashboardBtn:hover{
    background-color: #62a17d;
}