@import url("https://use.typekit.net/oem5whj.css");

.dashboard{
    display: flex;
    justify-content: center;
    font-family: "journal", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.midDashboard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 1;
    color: #6aa59ddc;
    padding-left: 5em;
    padding-right: 5em;
    margin: 0;
    /* margin-bottom: 5em; */
}


/* .dashboardBtn{
    margin: 2em;
    padding: 1em;
    background-color: rgb(158, 122, 135);
    width: 12em;
    height: 6em;
    overflow: hidden;
    bottom: 10em;
} */

/* quote of the day */
.apis{
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: #62a18fd7;
    color: rgb(239, 223, 202);
    border-radius: 1em;
    width: 100em;
    margin: 1em;
}
.quoteBlock{
    font-size: 2em;
}

/* PhotoBlock */
.photoBlock{
    background-color: #b69691d3;
    border-radius: 1em;
    margin: 1em;
}
.headerTxt{
    color: antiquewhite;
    font-size: 3em;
    
}
.txt{
    color: antiquewhite;
    font-size: 1em;
}
.imgDaily {
    width: 25%;
    z-index: 1;
    top: 2em;
    border-radius: 20em;
    border: groove 0.5em rgb(135, 108, 118);
    transition: transform .2s;
}

.imgDaily:hover {
  transform: scale(2.5);

}

/* Word of the day */
.infoButtons{
    width: 100%;
    display: flex;
    
}
.wod{
    padding: 1em;
    margin: 1em;
    width: 10em;
    background-color: #62a195ce;
}


/* Dashboard Buttons */
.dashboardBtns{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 3em;
    margin: 4em;
    margin-top: 0;
    padding-left: 10em;
     font-family: "journal", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.dashboardBtn{
    margin: 2em;
    padding: 1em;
    width: 12em;
    height: 6em;
    overflow: hidden;
    bottom: 10em;
    
}

.dashboardBtn:hover{
    background-color: #62a18fd7;
}

button {
    background-color: #b69691;
}