.journaling {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    margin-bottom: 3em;
    color: rgb(243, 223, 223);
    width: 100%; 
}


textarea {
    height: 15em;
    width: 25em;
    background-color: antiquewhite;  
    border: 0.4em solid #8b9e90cd;
    border-radius: 1em;
    color: #404842cd;
}

.postBtns{
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    margin: auto;
}

.midContent {
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 2em; 
}


