.journaling {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3em;
    color: rgb(243, 223, 223) ;
}
.entries{
    font-family:sans-serif;
    padding: 2em;
    margin: 1em;
    flex: 1 1 45%; 
    min-width: 250px; 
}
.entryBox{
    background-color: #a2b9a9cd;
    padding: 1.5em;
    border-radius: 1em;

}

input {
    background-color: antiquewhite;  
    display: flex;
    border: 0.2em solid #8b9e90cd;
    border-radius: 1em;
    color: #404842cd;

}

textarea {
    height: 15em;
    width: 25em;
    background-color: antiquewhite;  
    border: 0.4em solid #8b9e90cd;
    border-radius: 1em;
    color: #404842cd;
}

.postBtns{
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    margin: auto;
}