.journaling {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    margin-bottom: 3em;
    /* Prevent the journaling section from changing size */
    height: 100%
}
.midContent {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    gap: 2em; 
    width: 100%; 

}
.calendarBox{
    margin-top: 10em;
}


textarea {
    height: 15em;
    width: 25em;
    background-color: antiquewhite;  
    border: 0.4em solid #8b9e90cd;
    border-radius: 1em;
    color: #404842cd;
}

.postBtns {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    margin: auto;
}

.postBtns{
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    margin: auto;
}

.dbrd{
    padding: 1em;
}
/* 
textarea {
    height: 15em;
    width: 25em;
    background-color: antiquewhite;  
    border: 0.4em solid #8b9e90cd;
    border-radius: 1em;
    color: #404842cd;
}



.midContent {
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 2em; 
} */


