.foxImg{
    z-index: 1;
    opacity: 100%;
    width: 20%;
    height: 40%;
    margin: 0;
    border-radius: 2em;

}

/*Login, Signup and Fox image position/display */

.midLogin {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 8em;
  left: 10em;
  right: 0;
  margin: 2em;
  z-index: 1;
  color: #6F4C5B;

}



/*Login Box*/
.Login{
    z-index: 1;
    max-width: 100%;
    padding: 0.5em; 
    margin: 1em;
    background-color: #CBD2A4;
    border-radius: 2em;
    height: 25em;
    border:groove 0.5em #b69691;       
}

.input {
    background-color: #f5dec8;
    color:  #4d343e;
    margin: 0.5em;
}

.pencil{
    display: flex;

    width: 40px;
}

/*Sign Up Box*/
.signUp{
    z-index: 1;
    max-width: 20%;
    padding: 0.5em;
    margin: 1em;
    background-color: #b69691;
    border-radius: 2em;
    height: 25em;
    border: ridge 0.5em #CBD2A4;
}


.bxTitle{
    padding: 0 1.5em 0 1.5em;
    font-size: 3em;
}

/*Submit Button*/
.submitBtn{
    background-color: #663e50;
}

.submitBtn:hover{
    background-color: #567965;
}