@import url("https://use.typekit.net/oem5whj.css");

.usersInput{
  font-family: "journal", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.postBtns{
  font-family: "journal", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.myEntries{
  font-family: "above-the-sky-script", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 2.5em;
  color: antiquewhite;
  padding: 0;
}
.entriesContainer {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  width: 100%;
  max-width: 1200px;
  height: auto;
}

.entriesBlock {
  color: rgb(218, 246, 252);
  font-family: "journal", sans-serif;
  font-weight: 200;
  font-style: normal;

}

/* .entriesList {
  background-color: #b38077ad;
  border-radius: 1em;
  padding: 1em;
  width: 20em;
} */
.entriesList {
  background-color: #b38077ad;
  border-radius: 1em;
  padding: 1em;
  width: 30em;
  margin: 0 auto;
  overflow: hidden;
}

.entryCard {
  background-color: #ffffff94;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: scroll; 
}

.entriesList.wide {
  width: 50em; 
  
}

.entryTxt {
  color: rgb(4, 30, 36);
  font-size: 1.5em;  /* Adjusted font size */
  font-family: "sidenote-variable", sans-serif;
  font-variation-settings: "slnt" 0, "wdth" 60, "wght" 200;
}

.mainHeader{
  font-family: "above-the-sky-script", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5em;
  color: antiquewhite;
  padding: 0;
}
.entrySubject {
  color: #4f7980;
  font-family: "journal", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  margin-bottom: 0.5em;
}
.entryMood {
  font-family: "journal", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #4f7980;
  margin-bottom: 0.5em;
}

.changeBtn {
  padding: 1em;
  margin: 0.5em;
}

.paginationBtns {
  padding: 1em;
  margin: 0.5em;
}
.date{
  font-family: "above-the-sky-script", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
}
.entries{
  font-family:sans-serif;
  padding: 2em;
  margin: 1em;
  flex: 1 1 45%; 
  min-width: 250px; 
}
.entryBox{
  background-color: #a2b9a9c7;
  padding: 2em;
  border-radius: 1em;
  width: 30em; 
  min-height: 30em; 
  max-height: 30em; 
  overflow: hidden; 
  margin-top: 5em;
}

input {
  background-color: antiquewhite;  
  display: flex;
  border: 0.2em solid #8b9e90cd;
  border-radius: 1em;
  color: #404842cd;

}

.viewEntriesBtn{
  margin-top: 2.2em;
}